%% == Core ==
{require_otp_vsn, "17"}.

%% == Erlang Compiler ==
{erl_opts, [debug_info]}.

%% == Subdirectories ==
{sub_dirs, ["deps"]}.

{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", master}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", master}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", master}}
    ]}.
